{
	"env": {
		"node": true,
		"mocha": true
	},
	"rules": {
		"valid-jsdoc": [2, {
			"requireReturn": false
		}],
		"quotes": [2, "single", "avoid-escape"],
		"no-else-return": 2,
		"no-self-compare": 2,
		"block-scoped-var": 2,
		"no-floating-decimal": 2,
		"no-use-before-define": [2, "nofunc"],
		"brace-style": [2, "1tbs"],
		"no-lonely-if": 2,
		"space-after-keywords": [2, "always"],
		"space-in-brackets": [2, "never"],
		"space-in-parens": [2, "never"],
		"space-unary-word-ops": 2,
		"no-warning-comments": [2, { "terms": ["todo"], "location": "start" }]
	}
}
